.component {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: var(--spacing-12);
  height: var(--spacing-40);
  padding: 0 var(--spacing-12);
  font-size: 0.875rem;

  li {
    height: 100%;
    align-content: center;
  }

  a {
    display: block;
    align-content: center;
    height: var(--spacing-40);
    color: var(--content-secondary);

    &.active {
      box-shadow: inset 0 -2px 0 0 var(--black);
      color: var(--black);
    }
  }
}
