.panel {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.row {
  display: flex;
  padding: 0.75rem;
  justify-content: space-between;
  align-items: center;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8);
  font-size: 0.875rem;
  line-height: 1.4rem;
}

.input {
  width: 8rem;
  border: 0px solid #ccc;

  font-size: 0.875rem;
  line-height: 1.4rem;
  background: var(--background, #f4f4f4);
}
