.Component {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
}

.InputGroup {
  display: flex;
  flex-flow: column;
  gap: 0.75rem;
}

.PasswordStepForm {
  display: flex;
  flex-flow: column;
  gap: 2.12rem;
}

.button {
  width: 18.5rem;
  height: 2.8125rem;
  justify-content: center;
  border-radius: 1.25rem;
  background-color: var(--primary);
  color: var(--white);
  border: none;
}
