.component {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-12);
  align-items: center;
  min-height: 48rem;
  height: 100%;
  padding: var(--spacing-20) var(--spacing-12);
  background-color: var(--background);

  .message {
    padding: var(--spacing-20) var(--spacing-12);
  }
}
