.component {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-8);

  li {
    padding: var(--spacing-8) var(--spacing-12);
    border-radius: 1.25rem;
    background-color: var(--background);
    font-size: 0.625rem;
    font-weight: 600;
    color: var(--content-secondary);
  }
}
