.component {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-8);
  padding: var(--spacing-20) var(--spacing-12);

  h2 {
    font-size: 1.125rem;
    font-weight: 600;
  }

  span {
    padding: var(--spacing-12) 0;
    font-size: 0.625rem;
  }
}
